@page
@model SaleTicketProject.Pages.PropertiesModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-villa-agency.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 591 villa agency

    https://templatemo.com/tm-591-villa-agency

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul class="info">
                        <li><i class="fa fa-envelope"></i> CThon@company.com</li>
                        <li><i class="fa fa-map"></i> Thu Duc District, HCM City, VietNam</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://x.com/minthu" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-page="/Index" class="logo">
                            <h1>EVENT</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <form method="post">
                                @if (Model.Account != null)
                                {
                                    <input type="hidden" asp-for="Id" value="@Model.Account.Id" />
                                }
                            <li><button style="color:white; background:none; border:none" asp-page-handler="Home" type="submit"><a>Home</a></button></li>
                            </form>

                            <form method="post">
                                @if (Model.Account != null)
                                {
                                    <input type="hidden" asp-for="Id" value="@Model.Account.Id" />
                                }
                            <li><button style="color:white; background:none; border:none" asp-page-handler="Properties" type="submit"><a class="active">Properties</a></button></li>
                            </form>


                            @*                             <li><a asp-page="/Property-details">Property Details</a></li> *@
                            <li><a asp-page="/Contact">Contact Us</a></li>
                            @*  <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li> *@

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="breadcrumb"><a href="#">Home</a> / Properties</span>
                    <h3>Properties</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section properties" style="padding-bottom: 100px">
        <div class="container">
            @*             <ul class="properties-filter">
            <li>
            <a class="is_active" href="#!" data-filter="*">Show All</a>
            </li>
            <li>
            <a href="#!" data-filter=".adv">Apartment</a>
            </li>
            <li>
            <a href="#!" data-filter=".str">Villa House</a>
            </li>
            <li>
            <a href="#!" data-filter=".rac">Penthouse</a>
            </li>
            </ul> *@
            <div class="row properties-box">
                @foreach (var article in Model.Events)
                {
                    @if (article.SponsorId != null && article.Status == 1)
                    {
                        <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
                            <div class="item">
                                <form method="post">
                                    @if (Model.Account != null)
                                    {
                                        <input type="hidden" asp-for="AccountId" value="@Model.Account.Id" />
                                    }
                                    <input type="hidden" asp-for="Id" value="@article.Id" />
                                    @if (Model.Account != null)
                                    {
                                        <a asp-page="/Property-details"><img src="@article.Image" alt=""></a>
                                    }
                                    <span class="category">@article.Name</span>
                                    <h6>@article.TicketQuantity</h6>
                                    <h4><a asp-page="/Property-details">@article.Location</a></h4>
                                    <ul>
                                        <li>Date Start <span>@article.DateStart</span></li>
                                        <li>Date End <span>@article.DateEnd</span></li>
                                        <li>Category <span>@article.CategoryId</span></li>
                                    </ul>
                                    @*                                 <div >
                            <a asp-page="/Property-details">Schedule a visit</a>
                            </div> *@
                                    @if (Model.Account != null)
                                    {
                                        <div class="main-button">
                                            <button type="submit" asp-page-handler="Property" style="border: none"><a style="color: white">Schedule a visit</a></button>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    }
                }

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a class="is_active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @*     <footer>
    <div class="container">
    <div class="col-lg-12">
    <p>
    Copyright © 2048 Villa Agency Co., Ltd. All rights reserved.

    Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a>
    </p>
    </div>
    </div>
    </footer> *@

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/custom.js"></script>

</body>
</html>
